@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.boton-principal {
  width: 100px;
  font-size: 16px;
}

.boton-secundario {
  width: 40px;
  font-size: 25px;
  font-weight: bold;
}

.contenedor-spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 32px solid #fcf;
  border-color: #e00f3d transparent #e00f3d transparent;
  -webkit-animation: lds-hourglass 1.2s infinite;
          animation: lds-hourglass 1.2s infinite;
}

@-webkit-keyframes lds-hourglass {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    -webkit-transform: rotate(1800deg);
            transform: rotate(1800deg);
  }
}

@keyframes lds-hourglass {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    -webkit-transform: rotate(1800deg);
            transform: rotate(1800deg);
  }
}

.overlay {
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  background-color: rgba(219, 206, 206, 0.6);
  position: fixed;
  left: 0;
}

.paginas, .contenedor-logo, footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .titulo-de-seccion {
  font-weight: bold;
  font-size: 20px;
}

main #tipo,
main #orden {
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  border: 0;
  margin-bottom: 10px;
}

.boton-principal, .boton-secundario {
  height: 50px;
  background-color: black;
  font-family: 'Roboto', sans-serif;
  color: white;
  border: transparent;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.boton-principal:hover, .boton-secundario:hover {
  background-color: #f81212;
  outline: #f81212;
}

.subtitulos {
  font-size: 25px;
  font-weight: bold;
  margin: 19px 0 19px 0;
}

.contenedor-buscador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 40px 0 40px 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.fa-search {
  position: relative;
  top: 40px;
  font-size: 18px;
  left: 5px;
}

label {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #757575;
  margin-right: 10px;
  position: relative;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 40px 0 40px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

main .input-barra-de-busqueda {
  border: 0;
  border-bottom: 2px solid #151515;
  width: 100%;
  padding: 5px 35px;
  border-radius: 0;
  font-size: 26px;
  margin-top: 10px;
  margin-right: 160px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .contador-resultados {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #757575;
  margin: 15px 0 15px 0;
}

main .resultados-seccion {
  margin-left: 160px;
}

.resultados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 30px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.comic {
  height: 400px;
  width: 240px;
  margin: 40px 20px 40px 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.comic-img-container {
  width: 240px;
  height: 380px;
  overflow: hidden;
}

.comic-img-portada {
  width: 100%;
  height: 100%;
}

.comic .comic-titulo {
  margin: 10px;
  width: 200px;
  font-size: 19px;
}

.comic:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  color: rgba(250, 17, 17, 0.925);
}

.paginas {
  margin: 80px 0 80px 0;
}

.info-comic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1300px;
  height: 500px;
}

.info-comic .info-comic-img {
  width: 350px;
  height: 500px;
}

.info-comic .info-comic-img .info-comic-img-portada {
  width: 100%;
  height: 100%;
}

.info-comic .info-comic-datos {
  width: 800px;
  margin-left: 60px;
}

.tarjeta-info-extra-contenedor {
  width: 200px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #212121;
  margin: 30px;
  margin-top: 40px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.tarjeta-info-extra-contenedor .tarjeta-info-extra-img {
  width: 200px;
  height: 280px;
  overflow: hidden;
}

.tarjeta-info-extra-contenedor .tarjeta-info-extra-img .tarjeta-info-extra-img-portada {
  width: 100%;
  height: 100%;
}

.tarjeta-info-extra-contenedor .tarjeta-info-extra-img .tarjeta-info-extra-img-portada:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.tarjeta-info-extra-contenedor:hover {
  background-color: rgba(250, 17, 17, 0.925);
}

.tarjeta-info-extra {
  border: 0;
  border-top: 5px solid rgba(250, 17, 17, 0.925);
}

.tarjeta-info-extra .tarjeta-info-extra-titulo {
  color: white;
  text-align: center;
  margin: 15px;
}

.dataExtra-comic-y-personajes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 80px 0 80px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hidden {
  display: none;
}

.contenedor-info-extra {
  margin: 20px 0 0 100px;
}

.contenedor-info-extra .titulo-info-extra {
  margin: 20px 0 20px 100px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #757575;
}

.contenedor-info-extra .subtitulo-info-extra {
  margin: 20px 0 20px 100px;
  font-size: 30px;
}

.respuesta-subtitulos {
  font-size: 19px;
}

.comic-titulo {
  font-size: 35px;
  margin-bottom: 20px;
}

.boton-secundario:disabled {
  color: #757575;
  border-color: #757575;
}

@media (max-width: 850px) {
  .contenedor-buscador {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .input-barra-de-busqueda {
    margin-bottom: 20px;
  }
}

.contenedor-logo {
  background-color: black;
  width: 100%;
  color: white;
}

.logo-ada {
  background-color: red;
  color: white;
  font-family: "Bangers", cursive;
  font-weight: bold;
  font-size: 55px;
  line-height: 50px;
  margin: 0;
  padding: 0 10px;
}

.img-contenedor {
  width: 100%;
}

.img-contenedor .img-portada {
  width: 100%;
  min-height: 400px;
}

footer {
  background-color: black;
  width: 100%;
  color: white;
  height: 100px;
}
/*# sourceMappingURL=style.css.map */