        .contenedor-buscador {
            display: flex;
            justify-content: space-around;
            margin: 40px 0 40px 0;
            align-items: flex-end;
        }
        
        .fa-search {
            position: relative;
            top: 40px;
            font-size: 18px;
            left: 5px;
        }
        
        label {
            font-size: 13px;
            font-weight: bold;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $color-texto-terciario;
            margin-right: 10px;
            position: relative;
        }
        
        main {
            display: flex;
            flex-direction: column;
            margin: 0 40px 0 40px;
            flex-grow: 1;
            .titulo-de-seccion {
                @extend %titulos-de-secciones;
            }
            .input-barra-de-busqueda {
                border: 0;
                border-bottom: 2px solid #151515;
                width: 100%;
                padding: 5px 35px;
                border-radius: 0;
                font-size: 26px;
                margin-top: 10px;
                margin-right: 160px;
                box-sizing: border-box;
            }
            .contador-resultados {
                font-size: $font-size-contador-resultados;
                font-weight: bold;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: $color-texto-terciario;
                //margin-right: 10px;
                margin: 15px 0 15px 0;
            }
            #tipo,
            #orden {
                @extend %estilos-formularios-opciones;
            }
            .resultados-seccion {
                margin-left: 160px;
            }
        }
        
        .resultados {
            display: flex;
            flex-wrap: wrap;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-top: 30px;
            position: relative;
            box-sizing: border-box;
        }
        
        .comic {
            // margin: 45px;
            height: 400px;
            width: 240px;
            margin: 40px 20px 40px 20px;
            // transform: translateY(0);
            transition: 0.2s;
            cursor: pointer;
            &-img-container {
                width: 240px;
                height: 380px;
                overflow: hidden;
            }
            &-img-portada {
                width: 100%;
                height: 100%;
            }
            .comic-titulo {
                margin: 10px;
                width: 200px;
                font-size: 19px;
            }
            &:hover {
                transform: translateY(-10px);
                color: $color-hover-tarjetas;
            }
        }
        
        .paginas {
            @extend %centrar-flex;
            margin: 80px 0 80px 0;
        }
        
        .info-comic {
            display: flex;
            width: 100%;
            height: auto;
            justify-content: center;
            flex-wrap: wrap;
            .info-comic-img {
                width: 350px;
                height: 500px;
                .info-comic-img-portada {
                    width: 100%;
                    height: 100%;
                }
            }
            .info-comic-datos {
                width: 800px;
                margin-left: 60px;
            }
        }
        
        .tarjeta-info-extra-contenedor {
            width: 200px;
            height: 400px;
            display: flex;
            flex-direction: column;
            background-color: $color-fondo-tarjetas;
            margin: 30px;
            margin-top: 40px;
            transition: 0.2s;
            cursor: pointer;
            .tarjeta-info-extra-img {
                width: 200px;
                height: 280px;
                overflow: hidden;
                .tarjeta-info-extra-img-portada {
                    width: 100%;
                    height: 100%;
                    &:hover {
                        transform: scale(1.1);
                        transition: 0.2s;
                    }
                }
            }
            &:hover {
                background-color: $color-hover-tarjetas;
            }
        }
        
        .tarjeta-info-extra {
            border: 0;
            border-top: 5px solid $color-hover-tarjetas;
            .tarjeta-info-extra-titulo {
                color: $color-texto-secundario;
                text-align: center;
                margin: 15px;
            }
        }
        
        .dataExtra-comic-y-personajes {
            display: flex;
            // margin: 0 180px 0 180px;
            margin: 0 80px 0 80px;
            flex-wrap: wrap;
        }
        
        .hidden {
            display: none;
        }
        
        .contenedor-info-extra {
            margin: 20px 0 0 100px;
            .titulo-info-extra {
                margin: 20px 0 20px 100px;
                font-size: 13px;
                font-weight: bold;
                letter-spacing: 1px;
                color: $color-texto-terciario;
            }
            .subtitulo-info-extra {
                margin: 20px 0 20px 100px;
                font-size: 30px
            }
        }
        
        .subtitulos {
            @extend %subtitulos;
        }
        
        .respuesta-subtitulos {
            font-size: $respuesta-subtitulos;
        }
        
        .comic-titulo {
            font-size: 35px;
            margin-bottom: 20px;
        }
        
        .boton-secundario:disabled {
            color: $color-texto-terciario;
            border-color: $color-texto-terciario;
        }
        
        //responsive
        @media(max-width:1290px) {
            .comic-titulo {
                font-size: 25px;
            }
            .info-comic-datos {
                margin-top: 40px;
            }
            .dataExtra-comic-y-personajes {
                justify-content: center;
                align-items: center;
            }
            .contenedor-info-extra .subtitulo-info-extra {
                margin-left: 40px;
            }
        }
        
        @media (max-width:850px) {
            .contenedor-buscador {
                display: flex;
                flex-direction: column;
            }
            .input-barra-de-busqueda {
                margin-bottom: 20px;
            }
            .comic-titulo {
                font-size: 20px;
            }
            .contenedor-info-extra {
                margin: 0;
                align-items: center;
            }
            main .resultados-seccion {
                margin: 0;
            }
        }