$color-principal:white;
$color-secundario:black;
$color-texto-principal:black;
$color-texto-secundario:white;
$color-boton-principal:black;
$color-fondo-logo:red;
$font-size-logo:55px;
$font-family-logo: 'Bangers',
cursive;
$font-size-contador-resultados:13px;
$color-texto-terciario:#757575;
$botonesDeshabilitados :#757575;
$subtitulos-font-size:25px;
$margin-subtitulos:19px 0 19px 0;
$titulos-info-comic:30px;
$respuesta-subtitulos:19px;
$color-hover-tarjetas:rgba(250, 17, 17, 0.925);
$color-fondo-tarjetas:#212121;
$efecto-hover-botones:rgb(248, 18, 18);
$font-family-body:'Roboto', sans-serif;